.statList{
    display: flex;
}
li {
    list-style-type: none;
}

.item {
    max-width: 20%;
    padding: 10px;
    height: 60px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 50px;
    background-color:gray;
}
.statistics{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.title{
    text-align: center;
}
.label {
    margin-bottom: 20px;
}